{% extends 'layout.html'%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>How this blog was made</h1>
                <p>Hi my friend!</p>
                <p>This blog is a selfmade mess of mine. It is a mix of <a class="text-info" href="https://flask.palletsprojects.com/">python with flask</a>, <a class="text-info" href="https://github.com/kristopolous/BOOTSTRA.386">a modified bootstrap version</a></p> and some html.
                <p>It is not perfect but it works and i am happy with it. The Sourcecode can be found <a class="text-info" href="https://flask.palletsprojects.com/">here</a></p>
            </div>
        </div>
    </div>
{% endblock %}
