{% extends 'layout.html'%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to my Blog</h1>

            
       
              <div class="bs-component">
                <div class="jumbotron">
                  
                  <p class="lead">I am just a human and do not know everything (sadly). I can't guarantee that everything i write is right. I try to do my best and check everything
                    but as you can imagen this is just a hobby and i have a full time job. So please be patient with me and if you find something wrong please let me know so i can fix it :)
                  </p>
                  <hr class="my-4">
                  <p>If you are still here have fun!</p>
                  <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/blog" role="button">Get Started</a>
                  </p>
                </div>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>About me</h1>
                <div class="jumbotron">
                    <p>
                        Hi I am Daniel, i was born in 2001 and i love technology.
                        My main interests are Infosec, Machine Learning and Web Development.
                        Irl I like to play chess and swim in my free time.
                        My Favourite Programming Languages are Python and Go.
                    </p>
    
                    <p>
                        I am currently working on a few projects, one of them is this blog.
                        My main job is to be part of a red team and i love it.
                    </p>
                    <p> 
                        My socials are:
                        <div class="bs-component">
                            <a href="https://twitter.com/PatchRequest" ><button type="button" class="btn btn-secondary" title="" data-container="body" data-toggle="popover" >Twitter</button></a>
              
                            <a href="https://github.com/PatchRequest"> <button   type="button" class="btn btn-secondary" title="" data-container="body" data-toggle="popover">Github</button></a>
              
                            <a href="https://discordapp.com/users/PatchRequest#0001"> <button   type="button" class="btn btn-secondary" title="" data-container="body" data-toggle="popover" >Discord</button></a>
              
                            <a > <button type="button" class="btn btn-secondary" title="" data-container="body" data-toggle="popover"  >ICQ</button></a>
              
                          </div>
                    </p>
                </div>


            </div>
            

        </div>
    </div>
{% endblock %}